
<dl>
    <dt>Coffee</dt>
    <dd>   Date: 29-12-2017 16:12:67: black hot drinkblack hot drinkblack hot drinkblack hot drinkblack hot drinkblack hot drinkblack hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dt>   Milk</dt>
    <dd>   Date: 29-12-2017 16:12:67: white cold drink</dd>
    <dd   >Date: 29-12-2017 16:12:67: white cold drink</dd>
    <dt>Coffee</dt>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dt>   Milk</dt>
    <dd>   Date: 29-12-2017 16:12:67: white cold drink</dd>
    <dd   >Date: 29-12-2017 16:12:67: white cold drink</dd>
    <dt>Coffee</dt>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dt>   Milk</dt>
    <dd>   Date: 29-12-2017 16:12:67: white cold drink</dd>
    <dd   >Date: 29-12-2017 16:12:67: white cold drink</dd>
    <dt>Coffee</dt>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dt>   Milk</dt>
    <dd>   Date: 29-12-2017 16:12:67: white cold drink</dd>
    <dd   >Date: 29-12-2017 16:12:67: white cold drink</dd>
    <dt>Coffee</dt>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dd>   Date: 29-12-2017 16:12:67: black hot drink</dd>
    <dt>   Milk</dt>
    <dd>   Date: 29-12-2017 16:12:67: white cold drink</dd>
    <dd   >Date: 29-12-2017 16:12:67: white cold drink</dd>
  </dl>