<div class='example-container' *ngFor="let field of fields">
  <form [ngSwitch]="field.type">
    <mat-radio-group *ngSwitchCase="'radio'">
      <mat-radio-button *ngFor="let option of field.radioChoices" [value]="option">{{option}}
        <br>
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field *ngSwitchCase="'text'">
      <input matInput placeholder={{field.placeholder}} type={{field.type}}>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'password'">
      <input matInput placeholder={{field.placeholder}} type={{field.type}}>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'select'">
      <mat-select placeholder="Favorite doo">
        <mat-option *ngFor="let option1 of field.selectOptions" [value]="option1">
          {{option1}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'date'">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox *ngSwitchCase="'check'">
      {{field.value}}
    </mat-checkbox>
  </form>
</div>
<button mat-button>Login</button>