<div>
  <mat-tab-group class="col-md-12 col-md-offset-0 col-xs-offset-0 col-xs-12">
    <mat-tab label="All Announcements">
      <div id="ann" *ngFor="let ann of announcements">
        <dt>{{ann.title}}</dt>
        <dd>{{ann.body}} -
          <strong>ANNOUNCEMENT ID: {{ann.id}}</strong>
        </dd>
      </div>
    </mat-tab>
    <mat-tab label="Add Announcement">
      <form>
        <h3 class="col-md-6 col-md-offset-5 col-xs-offset-4 col-xs-6">Add</h3>
        <mat-form-field style="margin-top:30px;margin-bottom:20px;" class="col-md-8 col-md-offset-2 col-xs-offset-2 col-xs-8">
          <input matInput placeholder="Title" type="text" name="announcementTitle" [(ngModel)]="model.title" #title="ngModel" required>
        </mat-form-field>
        <mat-form-field style="margin-top:30px;margin-bottom:20px;" class="col-md-8 col-md-offset-2 col-xs-offset-2 col-xs-8">
          <input matInput placeholder="Body" type="text" name="announcementBody" [(ngModel)]="model.body" #body="ngModel" required>
        </mat-form-field>
        <div class="col-md-8 col-md-offset-4 col-xs-4 col-xs-offset-3">
          <button mat-button class="col-md-5  btn btn-primary" (click)="addAnnouncement(model)" style="margin-bottom: 40px;">Add announcement</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Modify Announcement">
      <form>
        <h3 class="col-md-6 col-md-offset-5 col-xs-offset-4 col-xs-6">Modify</h3>
        <mat-form-field style="margin-top:30px;margin-bottom:20px;" class="col-md-8 col-md-offset-2 col-xs-offset-2 col-xs-8">
          <input matInput placeholder="Id" type="text" name="announcementId" [(ngModel)]="model2.id" #annId="ngModel" required>
        </mat-form-field>
        <mat-form-field style="margin-top:30px;margin-bottom:20px;" class="col-md-8 col-md-offset-2 col-xs-offset-2 col-xs-8">
          <input matInput placeholder="Title" type="text" name="announcementTitle" [(ngModel)]="model2.title" #title="ngModel" required>
        </mat-form-field>
        <mat-form-field style="margin-top:30px;margin-bottom:20px;" class="col-md-8 col-md-offset-2 col-xs-offset-2 col-xs-8">
          <input matInput placeholder="Body" type="text" name="announcementBody" [(ngModel)]="model2.body" #body="ngModel" required>
        </mat-form-field>
        <div class="col-md-8 col-md-offset-4 col-xs-4 col-xs-offset-3">
          <button mat-button class="col-md-5  btn btn-primary" (click)="updateAnnouncement(model2)" style="margin-bottom: 40px;">Modify announcement</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Delete Announcement">
      <form>
        <h3 class="col-md-6 col-md-offset-5 col-xs-offset-4 col-xs-6">Delete</h3>
        <mat-form-field style="margin-top:30px;margin-bottom:20px;" class="col-md-8 col-md-offset-2 col-xs-offset-2 col-xs-8">
          <input matInput placeholder="Id" type="text" name="announcementId" [(ngModel)]="announcementId3" #annId="ngModel" required>
        </mat-form-field>
        <div class="col-md-8 col-md-offset-4 col-xs-4 col-xs-offset-3">
          <button mat-button class="col-md-5  btn btn-primary" (click)="deleteAnnouncement(announcementId3)" style="margin-bottom: 40px;">Delete announcement</button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>