<body  >
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" id="topbar" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon style="font-size:40px;">&#9776;</mat-icon>
    </button>
    <img style="margin-left:30px;width:165.137px;height:50px;" src="https://raw.githubusercontent.com/ip-b1-2017/fii-admission/master/FrontEnd/static/images/logo.png"
      alt="FII Admis logo">
  </mat-toolbar>

  <mat-sidenav-container style="background:rgba(31,50,79,0.9)" class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav id="rightbar" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a class="sidenav-button" mat-list-item (click)="announcements()">Announcements</a>
        <a class="sidenav-button" mat-list-item (click)="notifications()">Notifications</a>
        <a class="sidenav-button" mat-list-item (click)="form()">Application Form</a>
        <a class="sidenav-button" mat-list-item (click)="reset()">Reset Password</a>
        <a class="sidenav-button" mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content id="main">
      <ng-content></ng-content>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
</body>