<body style="background:black">
    <app-sidenav-admin>
        <div class="dash-container">
            <div id="announcements">
                <div class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10" id="welcome-panel">
                    <h2 class="col-md-4 col-md-offset-5 col-xs-offset-3 col-xs-7" style="margin-bottom:20px;">Announcements</h2>
                    <app-announcements-admin class="col-md-8 col-md-offset-2">
                    </app-announcements-admin>
                </div>
            </div>
        </div>
        <div class="dash-container" id="form">
            <div class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10" id="welcome-panel" style="word-wrap: break-word;">
                <h2 class="col-md-4 col-md-offset-5 col-xs-offset-1 col-xs-10" style="margin-bottom:20px;">Application Form</h2>
                <app-fii-form class="col-md-8 col-md-offset-2">
                </app-fii-form>
            </div>
        </div>
    </app-sidenav-admin>
</body>