<head>
    <title>FII-Admission</title>
</head>
<body>
    <div id="page">
        <div id="logo">
            <h1><a href="/" id="logoLink">FII-Admission</a></h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Apply Now</a></li>
                <li><a href="http://www.uaic.ro/">University Website</a></li>
            </ul>   
        </div>
        <div id="content">
            <h2>Home</h2>
            <p>
                Many of our graduates are spread in countries all over the world, working for important software companies (Adobe, Amazon, Continental, IBM, Intel, Microsoft, Motorola, Siemens, and many more), or doing a PhD within universities and research institutes.
            </p>
            <p> 
                Our Faculty is the first faculty in Computer Science of a non-technical university in Romania.
            </p>
        </div>
        <div id="footer">
            <p>
                Webpage made by <a href="/" target="_blank">FII-Admission Team</a>
            </p>
        </div>
    </div>
</body>